.side_bar
  .side-top
    .side-top__user-box 
      %p.side-top__user-box__name sample
      %ul.side-top__user-box__icons
        %li.side-top__user-box__icons__group-edit
          = link_to "#" do
            = icon('fas', 'edit')
        %li.side-top__user-box__icons__account-edit
          = link_to "#" do
            = icon('fas', 'cog')

  .side-contents
    .group
      = link_to "#" do
        %p.group__group-name sample
        %p.group__last-message Good bye world!!
