.side_bar
  .side-top
    .side-top__user-box 
      %p.side-top__user-box__name sample
      %ul.side-top__user-box__icons
        %li.side-top__user-box__icons__create-group
          = link_to "#" do
            = icon('fas', 'edit')
        %li.side-top__user-box__icons__edit-account
          = link_to "#" do
            = icon('fas', 'cog')

  .side-contents
    .group
      = link_to "#", class: "group-link" do
        %p.group-link__group-name sample
        %p.group-link__last-message Good bye world!!
